PuTTY PORTABLE - Ярлык.lnk
test_app_ubuntu
test_app_ubuntu.code-workspace
test_app_ubuntu.exe
tolinux - для копирования в облако.lnk
__debug_bin.exe
cert.pem
key.pem
main/SQLite/SQLite - Ярлык.lnk
main/SQLite/SQLite datetime Function.url
main/sqlite_db.sqbpro
main/SQLite/Go - SQLite.url
main/SQLite/Golang SQLite database-sql - Earthly Blog.url
main/SQLite/Запуск SQlite в Go.txt
main/main.exe
main/main.exe~
main/SQLite/Запуск SQlite в Go/Запуск SQlite в Go.txt
main/SQLite/SQLiteDatabaseBrowserPortable - Ярлык.lnk
main/Сертификаты/openssl/open_ssl - Ярлык.lnk
main/Сертификаты/openssl/Генерация.txt
main/_Сборка под Linux/Сборка под Linux.txt
main/Собрано в Ubuntu/libc.so.6
main/Собрано в Ubuntu/sqlite_db.db
main/_Сборка под Linux/Собрано в Ubuntu/2023.06.22 - 1/libc.so.6
main/_Сборка под Linux/Собрано в Ubuntu/2023.06.22 - 1/sqlite_db.db
main/_Сборка под Linux/Собрано в Ubuntu/2023.06.24 - 1/requests.csv
89117771690-apps.site - 2023.06.25 - Ярлык.lnk
main/sqlite_db.db
_Копии с сервера reg.ru/ubuntu - 2023.11.26 - 1.tgz
_Сайты/2501.рф - сайт - Ярлык.lnk
_Сайты/89117771690-apps.site - сайт - Ярлык.lnk
_Сайты/89117771690.site - сайт - Ярлык.lnk
.gitignore
